SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=vehicle_management_db
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password
DB_DRIVER_CLASS_NAME=org.postgresql.Driver

JPA_DDL_AUTO=validate
JPA_SHOW_SQL=true

KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/vehicle-management
KEYCLOAK_JWK_SET_URI=http://127.0.0.1:8081/realms/vehicle-management/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=vehicle-management-api
KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_REALM=vehicle-management
KEYCLOAK_FRONTEND_CLIENT_ID=vehicle-management-frontend
KEYCLOAK_ACTION_REDIRECT_URI=http://localhost:5173/login
KEYCLOAK_ADMIN_CLIENT_ID=vehicle-management-admin-service
KEYCLOAK_ADMIN_CLIENT_SECRET=replace_with_keycloak_admin_client_secret

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.6.1
KEYCLOAK_COMMAND=start-dev
KEYCLOAK_HOST_PORT=8081

KEYCLOAK_DB_IMAGE=postgres:16-alpine
KEYCLOAK_DB_HOST_PORT=5433
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=postgres
KEYCLOAK_DB_PASSWORD=pass

KEYCLOAK_ADMIN_USERNAME=123
KEYCLOAK_ADMIN_PASSWORD=123

MINIO_IMAGE=quay.io/minio/minio:latest
MINIO_CLIENT_IMAGE=quay.io/minio/mc:latest
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
MINIO_PUBLIC_BUCKET=vehicle-public
MINIO_PRIVATE_BUCKET=vehicle-private
MINIO_PRESIGNED_EXPIRE_SECONDS=900
MINIO_PUBLIC_URL_BASE=http://localhost:9000/vehicle-public
MINIO_IMAGE_MAX_SIZE_BYTES=5242880
MINIO_IMAGE_MAX_WIDTH_PIXELS=1280
MINIO_IMAGE_JPEG_QUALITY=0.85
